default_context:
  project_name: libname_project
  {# A name for the root folder to be created, ideally different from the libname -#}

  libname: libname
  {# The name of the library package, usually without spaces -#}

  display_name: Lib Name
  {# The fancy name of the library package, for documents -#}

  python_docker: 3.7.5-alpine
  {# The tag of the official python docker image, usually a recent version over a slim, secure distro like debian-slim or alpine -#}
